@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Adrian Farnell<br />
    59 Cleveland Road<br />
    Huddersfiled<br />
    HD1 4PP<br />
    <abbr title="Phone">P:</abbr>
    +44 7760 172759
</address>

<address>
    <strong>Support:</strong> <a href="mailto:adrianjfarnell@gmail.com">adrianjfarnell@gmail.com/a><br />
</address>
